.ah-tabs

    &__tab
        background-color: $color-base-light
        display: none
        padding: 20px
        pre
            font-size: $base-font-size
            margin: 0
            position: relative
            code
                padding: 12px 80px 13px 20px
        &:first-child
            display: block