@import "../bourbon/bourbon"

$color-background: #f8f1ec
$color-base-light: #f2e3da
$color-base-medium: #efd5c5
$color-base: #675455
$color-brand-dark: #b33a44
$color-brand: #e04e53

body
  font-family: 'Lato', sans-serif
  font-size: 13px
  margin: 0

.ah
  overflow: hidden

  &-page
    +transition(transform 0.5s $ease-in-out-quint)
    background-color: $color-background
    box-shadow: 2px 0 0 rgba(#000, 0.1)
    padding-top: 190px
    position: relative
    z-index: 1
    .nav-open &
      +transform(translateX(-240px))

  &-container
    margin: 0 auto
    max-width: 980px
    padding: 0  30px

  &-header
    +transition(transform 0.5s $ease-in-out-quint)
    +position(fixed, 0px 0px null 0px)
    background-color: $color-brand
    padding: 0 20px
    z-index: 2

    .nav-open &
      +transform(translateX(-240px))

    .ah-container
      +align-items(center)
      +display(flex)
      padding: 10px 0 0

    &__logo
      display: block
      margin-bottom: -55px

    &__control
      +align-items(center)
      +display(flex)
      margin: -10px 0 0 auto

    &__project
      color: $color-base-light
      font-size: 16px
      margin: 0
      text-transform: uppercase

  &-menu
    background-color: transparent
    border: none
    cursor: pointer
    margin-left: 20px
    outline: none
    padding: 0
    position: relative

    &:before,
    &:after,
    span
      +size(30px 3px)
      background-color: $color-base-light
      border-radius: 3px
      content: ""
      display: block

    &:before
      margin-bottom: 13px

    &:before,
    &:after
      +transition(opacity 0.75s 0.25s)

    span
      +position(absolute, 50% null null 0px)
      +transition(transform 0.5s $ease-in-out-quint)
      margin-top: -1px

    .nav-open &
      &:before,
      &:after
        +transition(opacity 0.5s)
        opacity: 0
      span
        +transform(rotate(-45deg))
        +transition(transform 0.75s $ease-in-out-quint)
        &:last-of-type
          +transform(rotate(45deg))

  &-navigation
    +position(fixed, 0px 0px 0px null)
    background-color: $color-base
    padding-top: 96px
    width: 240px

    &__list
      border-bottom: 1px solid rgba($color-base-light, 0.1)
      list-style: none
      margin: 0
      padding: 0
      &--sub
        border-bottom: none
        .ah-navigation__link
          font-size: 11px
          padding: 10px 10px 10px 40px

    &__link
      +transition(background-color 0.3s, border-color 0.3s)
      border-top: 1px solid rgba($color-base-light, 0.1)
      color: $color-base-light
      display: block
      padding: 20px
      text-decoration: none
      text-transform: uppercase

      &:hover,
      &--active
        background-color: $color-brand
        border-color: $color-brand-dark

  &-section
    box-sizing: border-box
    margin: 0 auto
    max-width: 980px
    padding: 0 30px 60px

    &__header
      +align-items(center)
      +display(flex)
      border-bottom: 1px solid $color-base-light
      margin: 0 -30px 30px
      padding: 0 30px
      .ah-toggle
        margin-left: auto

    &__title
      background-color: $color-brand
      box-shadow: inset 0 -2px rgba(#000, 0.1)
      color: $color-base-light
      display: inline-block
      font-size: 13px
      font-weight: normal
      margin: 0
      padding: 12px 15px 12px
      text-transform: uppercase

  &-toggle
    +align-items(center)
    +display(flex)
    color: $color-brand-dark
    font-size: 11px
    text-transform: uppercase

    &__input
      display: none
      &:checked + .ah-toggle__label:before
        +transform(translateX(calc(100% - 2px)))

    &__label
      +size(44px 24px)
      background-color: $color-base-light
      border-radius: 24px
      border: 1px solid $color-base-medium
      cursor: pointer
      display: block
      margin: 0 10px

      &:before
        +size(20px)
        +transition(transform 0.5s $ease-in-out-quint)
        background-color: $color-brand
        border: 1px solid $color-brand-dark
        border-radius: 50%
        content: ""
        display: block
        margin: 1px 0 0 1px

  &-grid
    +align-items(flex-start)
    +display(flex)
    list-style: none
    margin: 0
    padding: 0

    &__item
      +flex(1)
      +transition(0.5s $ease-in-out-quint)
      &:hover
        +flex(5)

  &-color
    color: $color-base-light
    cursor: pointer
    height: 180px
    overflow: hidden
    position: relative
    white-space: nowrap

    &:after
      +align-items(center)
      +display(flex)
      +justify-content(center)
      +position(absolute, 0px)
      +transform(scale(2) translate3d(0,0,0))
      +transition(0.5s $ease-in-out-quint)
      background-color: $color-brand
      content: 'Copied'
      opacity: 0
      text-transform: uppercase

    &--copied
      +flex(5)
      &:after
        +transform(scale(1) translate3d(0,0,0))
        opacity: 1

    &:hover .ah-color__wrap
      +transform(translateY(0))
      +transition(0.5s 0.25s $ease-in-out-quint)
      opacity: 1

    &__wrap
      +position(absolute, null null 0px 0px)
      +transform(translateY(25%))
      +transition(0.5s $ease-in-out-quint)
      opacity: 0
      padding: 20px

    &__name
      margin: 0 0 10px
      text-transform: uppercase

    &__value
      margin: 0

  &-component

    &__controls
      +align-items(center)
      +display(flex)
      background-color: $color-base

      .ah-tabs
        margin-left: auto

    &__title
      +align-items(center)
      +display(flex)
      color: $color-base-light
      font-size: 14px
      padding: 0 20px 2px

    &__modifier-list
      cursor: pointer
      position: relative
      &:after
        +position(absolute, 50% 10px null null)
        +size(0)
        border-style: solid
        border-width: 5px 4px 0 4px
        border-color: $color-base-light transparent transparent transparent
        content: ""
      select
        +appearance(none)
        font-family: 'Lato', sans-serif
        font-size: 14px
        color: $color-base-light
        background: none
        border: none
        padding: 0 28px 0 0
        outline: none

    &__modifier
      display: none
      &:first-child
        display: block

    &__tab
      background-color: $color-base-light
      display: none
      padding: 20px
      pre
        margin: 0
      &:first-child
        display: block

  &-tabs
    +display(flex)

    &__link
      +align-items(center)
      +display(flex)
      +transition(background-color 0.2s, border-color 0.2s)
      border-right: 1px solid rgba($color-base-light, 0.1)
      padding: 12px 15px 12px 16px
      text-transform: uppercase
      color: $color-base-light
      text-decoration: none
      position: relative
      &:last-child
        border-right: none
      &:after
        +position(absolute, 100% null null 50%)
        +size(0)
        +transform(translateY(-100%))
        +transition(0.3s $ease-in-out-quint)
        border-color: $color-brand transparent transparent transparent
        border-style: solid
        border-width: 11px 11px 0 11px
        content: ""
        margin-left: -11px
        opacity: 0
      &--active
        background-color: $color-brand
        border-color: $color-brand
        +transition(background-color 0.2s, border-color 0.2s)
        &:after
          +transform(translateY(0))
          opacity: 1

    &__icon
      margin-right: 10px
      width: 16px