.ah-form

    .ah-section__header
        margin-top: 60px
    
    &__control
        +align-items(stretch)
        +display(flex)
        margin: 0 0 20px

        &--save
            +justify-content(center)
            padding-top: 40px

    &__label
        +align-items(center)
        +display(flex)
        +justify-content(flex-end)
        +transition(background-color 0.3s, color 0.3s)
        background-color: $color-base-medium
        box-sizing: border-box
        color: $color-base
        font-family: $base-font-family
        font-size: $base-font-size
        line-height: 1
        padding: 10px
        width: 18%

    &__input,
    .ah-toggle
        +order(1)
        +transition(border-color 0.3s)
        background-color: $color-base-light
        border-left: none
        border: 1px solid $color-base-medium
        box-sizing: border-box
        color: $color-base
        font-family: $base-font-family
        font-size: $base-font-size
        outline: none
        padding: 10px
        width: 82%
        &:focus
            border-color: $color-brand
            + .ah-form__label
                background-color: $color-brand
                color: $color-base-light

    .ah-toggle
        font-size: 11px
        padding: 5px 10px
        &__label
            background-color: $color-base-medium
            border-color: darken($color-base-medium, 10%)

    #ah-colors,
    #ah-typography
        display: none