.heading {
  font-family: arial;
  font-size: 30px;
  font-weight: normal;
  margin: 0 0 20px;
  color: #666;
}

.heading--bordered {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
}

.heading--small {
  font-style: 20px;
}

.copy {
  font-family: arial;
  font-size: 16px;
  margin: 0 0 10px;
  color: #999;
}

.copy--pull-out {
  font-size: 20px;
  font-style: italic;
}

.singpost-link {
  font-size: 18px;
  text-transform: uppercase;
  color: #ea2730;
  text-decoration: none;
}

.singpost-link:hover {
  text-decoration: underline;
}